*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration:none ;
    color: inherit;
}

.border{
    border: 1.5px solid transparent;
}
.border:hover{
        border: 1.5px solid white;
}

span{
    display: inline-block;
}

    /* ***************Navigation Panel***************** */
.navbar{
    background-color: #131921;
    color: white;
    height: 60px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

    /* ***************Left Navigation Panel */  
.left-nav{
    display: flex;
    align-items: center;
}

.amzn-logo{
    background-image: url(amazon_logo.png);
    background-size: contain;
    width: 114px;
    height: 58px;
    background-repeat: no-repeat;
}

.address{
    height: 50px;
    width: 80px;
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.add-text{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 6px;
}
#add-upr{
    font-size: 12px;
    color: #cccccc;
}
#add-lwr{
    font-size: 14px;
}

/* **************Search Panel***************** */
.search-panel/*outer*/{
    display: flex;
    align-items: center;
    height: 100%;
    width: 60%;
    justify-content: space-evenly;
    color: #6f7373;
}

.search-container/*inner*/{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    height: 40px;
    width: 97%;
    border-radius: 10px;
}

.search-select{
    height: 100%;
    width: 53px;
    background-color: #f3f3f3;
    color: #6f7373;
    text-align: center;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    border: none;
}
.search-select:hover{
    background: #d4d4d4;
    color: #000000;
}

.search-ip{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 1rem;
    margin-left: 1rem;
    outline: none;
    box-sizing: unset;
}

.search-btn{
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    background-color: #f3a847;
    color: #333333;
    font-size: 1.2rem;
    border: none;
}
.search-btn:active{
    border: 1.5px solid rgba(255, 128, 0, .9);
    box-sizing: unset;
}

/* Right Navigation************************* */
.right-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 384px;
    height: 100%;
}

.language-select{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    width: 73px;
}

.language-logo{
    height: 16px;
    width: 21px;
}

.login-container, .order-container{
    height: 50px;
    width: 131px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.upr-login, .upr-ordr{
    font-size: 12px;
    margin: .1rem;
}

.lwr-login, .lwr-ordr{
    font-size:14px;
}

.order-container{
    width: 76px;
}

.cart-container{
    height: 50px;
    width: 90px;
    display: flex;
    align-items: baseline;
}

.cart-logo{
    font-size: 2.5rem;
    margin-top: 1px;
}

.cart-count{
    color: rgb(240, 136, 4);
    font-size: 1.25rem;
    position: relative;
    top: -15px;
    left:-25px;
}

.cart-text{
    position: relative;
    top: -1px;
    left:-7px;
    font-size: 1.2rem;
}

/* *******************catagory********************** */
.catagory{
    background-color: rgb(35, 47, 62);
    height: 40px;
    width: 100vw;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.all-catagories{
    display: flex;
    height: 38px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-catagories > b{
    margin-left: 8%;
}

.all-catagories > i{
    font-size: 1.26rem;
}

.catagory-1, .catagory-2, .catagory-3, .catagory-4, .catagory-5{
    /* margin-left: 20px; */
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: none; */
}

.catagory-1:hover, .catagory-2:hover, .catagory-3:hover, .catagory-4:hover, .catagory-5:hover{
    border: 1.5px solid white;
}

.catagory-1{width: 103px;}
.catagory-2{width: 130px;}
.catagory-3{width: 70px;}
.catagory-4{width: 80px;}
.catagory-5{width: 40px;}

/* ***********************hero panel************************* */
